# Root .editorconfig for Octave Hacking

# EditorConfig is awesome: https://EditorConfig.org

root = true

# We only set the indent_style on individual file types, because we may
# have a mix of indent styles in test fixture *.m files and want to
# preserve that, but I don't know how to define an override in .editorconfig
# that "unsets" an inherited setting and reverts to "allow either".

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4

[*.m]

[Makefile]
charset = utf-8
indent_style = tab
tab_width = 4

[*.{json,ts,tmLanguage}]
charset = utf-8
indent_style = tab
indent_size = 2

# Markdownlint requires spaces (and I think specificall 2 spaces).
#
# Nested ordered lists in Markdown won't render right everywhere with
# 2-space indents. You need 4-space indents for those. But unordered lists
# need to be 2-space indents, per markdownlint. Make it 2-space
# indents, and the author can double-indent nested ordered lists.
[*.md]
charset = utf-8
indent_style = space
indent_size = 2

# This matches the style of the generated *.js files in out/.
[*.js]
charset = utf-8
indent_style = space
indent_size = 2
