# Root .editorconfig for Octave Hacking

# EditorConfig is awesome: https://EditorConfig.org

root = true

# We only set the indent_style on individual file types, because we may
# have a mix of indent styles in test fixture *.m files and want to
# preserve that, but I don't know how to define an override in .editorconfig
# that "unsets" an inherited setting and reverts to "allow either".

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.m]
indent_size = 2

[Makefile]
indent_style = tab

# I can't remember why I used tabs for these languages?
[*.{json,ts,tmLanguage}]
indent_style = tab
indent_size = 2

# This matches the style of the generated *.js files in out/.
[*.js]
indent_style = space
indent_size = 2

# Markdownlint requires spaces (and I think specificall 2 spaces).
#
# Nested ordered lists in Markdown won't render right everywhere with
# 2-space indents. You need 4-space indents for those. But unordered lists
# need to be 2-space indents, per markdownlint. Make it 2-space
# indents, and the author can double-indent nested ordered lists.
[*.md]
indent_size = 2

